<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Выбор ДБО</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
	<link href="css/main2.css" rel="stylesheet">
  

</head>

<body>
	<header id="header">
		
		
	</header>
	
	<section id="advertisement">
		<div class="container">
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Критерии выбора</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#first">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Критерий 1
										</a>
									</h4>
								</div>
								<div id="first" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="single.html">аываы </a></li>
											<li><a href="">выаыва </a></li>
											<li><a href="">ывфаы </a></li>
											<li><a href="">выаы</a></li>
											<li><a href="">выаф </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#second">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											критерий
										</a>
									</h4>
								</div>
								<div id="second" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">ваывпы</a></li>
											<li><a href="">ывфы</a></li>
											<li><a href="">ыфвфы</a></li>
											<li><a href="">выа</a></li>
											<li><a href="">выа</a></li>
											<li><a href="">выаы</a></li>
											<li><a href="">выаыф</a></li>
											<li><a href=""> ывфаы</a></li>
											<li><a href="">выфа</a></li>
											<li><a href="">ываы</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#third">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											еще критерий
										</a>
									</h4>
								</div>
								<div id="third" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">выав</a></li>
											<li><a href="">выафыва</a></li>
											<li><a href="">выаыв</a></li>
											<li><a href="">выаыа</a></li>
											<li><a href="">выафаы</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="widget brands mb-50"style="color:#696763">
                                <h6 class="widget-title mb-30" style="margin-left: 20px">  По наличию</h6>
                
                                <div class="widget-desc"style="margin-left: 20px">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="1">
                                        <label class="form-check-label" for="1">Наличие того-то</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="2">
                                        <label class="form-check-label" for="2">Наличие того-то</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="3">
                                        <label class="form-check-label" for="3">Наличие того-то</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="4">
                                        <label class="form-check-label" for="4">Наличие того-то</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="5">
                                        <label class="form-check-label" for="5">Наличие того-то</label>
                                    </div>
                                </div>
                            </div>
						</div>
					
						<div class="another critrion">
							<h2>еще критерий</h2>
							<div class="criterions-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-right"></span>анука</a></li>
									<li><a href=""> <span class="pull-right"></span> ываыа</a></li>
									<li><a href=""> <span class="pull-right"></span>выаыа</a></li>
									<li><a href=""> <span class="pull-right"></span>выаыа</a></li>
									<li><a href=""> <span class="pull-right"></span>выав</a></li>
									<li><a href=""> <span class="pull-right"></span>выава</a></li>
									<li><a href=""> <span class="pull-right"></span>авыыва</a></li>
								</ul>
							</div>
						</div>
						
						<div class="price-range">
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[0,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div>
						
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items">
						<h2 class="title text-center">Выбранные банки</h2>
						
						
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer">
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Сделано блаблабла</p>
				</div>
			</div>
		</div>
		
	</footer>
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>