<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Брокер Дбо - 19БИ-3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="css/main.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="site" id="page">
            <a class="skip-link sr-only" href="#main"></a>

            <section class="hero-section hero-section--image clearfix clip">
                <div class="hero-section__wrap">
                    <div class="hero-section__option">
                        <img src="images/index-slider1.jpg" alt="Hero section image">
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-2 col-lg-8">
                                
                                <div class="title-01 title-01--11 text-center">
                                    <h2 class="title__heading">
                                        <span>Брокер ДБО</span>
                                    </h2>
                                    <div class="title__description">19-БИ3</div>
                                    
                                    <div class="right-sidebar">
                                        <h2>Критерии выбора</h2>
                                            
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordian" href="#id1" style="padding-right: 15px;">
                                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                            Физическое лицо
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="id1" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><a href="">аываы </a></li>
                                                            <li><a href="">выаыва </a></li>
                                                            <li><a href="">ывфаы </a></li>
                                                            <li><a href="">выаы</a></li>
                                                            <li><a href="">выаф </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            
                                            
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordian" href="#id2">
                                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                            Юридическое лицо
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="id2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><a href=""></a></li>
                                                            <li><a href="">ывфы</a></li>
                                                            <li><a href="">ыфвфы</a></li>
                                                            <li><a href="">выа</a></li>
                                                            <li><a href="">выа</a></li>
                                                            <li><a href="">выаы</a></li>
                                                            <li><a href="">выаыф</a></li>
                                                            <li><a href=""> ывфаы</a></li>
                                                            <li><a href="">выфа</a></li>
                                                            <li><a href="">ываы</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            
                                            
                                            
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordian" href="#id3" style="padding-right: 50px;">
                                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                                            Корпорация
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="id3" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><a href="">выав</a></li>
                                                            <li><a href="">выафыва</a></li>
                                                            <li><a href="">выаыв</a></li>
                                                            <li><a href="">выаыа</a></li>
                                                            <li><a href="">выафаы</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            
                                        
                                    </div>
                                    <div class="title__action"><a href="categories.html" class="btn btn-success" style="margin-top: 25px;">Начать поиск</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="button-group">
        	<span style="color:white;">Участники</span>
        </div>
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>
