<!DOCTYPE html>
<html>
<head>
    <title>bank pattern</title>
    <link href="css1/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css1/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="css1/style4.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js1/jquery.min.js"></script>
    <script src="js1/jstarbox.js"></script>
    <link rel="stylesheet" href="css1/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <link href="css1/form.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

<div class="single">

    <div class="container">
        <div class="col-md-9">
            <div class="col-md-5 grid">

                <img src="assets/images/VyFIANEr_400x400.jpg"  height="250" width="250">

            </div>
            <div class="col-md-7 single-top-in">
                <div class="span_2_of_a1 simpleCart_shelfItem">
                    <h3>Сбербанк</h3>
                    <p class="in-para">Публичное акционерное общество «Сбербанк России» — российский финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации
                    </p>
                    <div class="price_single">
                        <span class="reducedfrom item_price">преимущества</span>
                        <div class="clearfix"></div>
                    </div>
                    <h4 class="quick">Недостатки</h4>
                    <p class="quick_desc"> текст</p>
                </div>

            </div>

            <div class="tab-head">
                <nav class="nav-sidebar">
                    <ul class="nav tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">для физ лиц</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">для юр лиц</a></li>
                        <li class=""><a href="#tab3" data-toggle="tab">для корпораций</a></li>
                    </ul>
                </nav>
                <div class="tab-content one">
                    <div class="tab-pane active text-style" id="tab1">
                        <div class="facts">
                            <p > текст к 1</p>
                            <ul>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>аврриа</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ываыв</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ываыыва</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выаыыва</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выаыва</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выфаыва</li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-pane text-style" id="tab2">

                        <div class="facts">
                            <p > иывиывра</p>
                            <ul >
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ыввыа</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выфа</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>вфыаыф </li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-pane text-style" id="tab3">

                        <div class="facts">
                            <p > ывпвпа</p>
                            <ul>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выаыва</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>фываыв</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выаыфваа</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ваывф</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ывфаыв</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ывфавыфа</li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <footer id="footer">





    </footer>



    <script src="js1/imagezoom.js"></script>

    <script defer src="js1/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="css1/flexslider.css" type="text/css" media="screen" />



    <script src="js1/simpleCart.min.js"> </script>

    <script src="js1/bootstrap.min.js"></script>


</body>
</html>