<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
</head>
<body>
<form action="/individual/search" target="_self">
    <input type="number" required name="price"/>
    <input type="checkbox" name="app" value="Android">Android</input>
    <input type="checkbox" name="app" value="iOS">iOS</input>
    <input type="submit"/>
</form>

<section>
    <h2 class="name"></h2>
    <div>
        <ul>
            <li class="price"></li>
            <li class="app"></li>
        </ul>
    </div>

</section>
<script>
</script>
</body>
</html>