<!DOCTYPE html>
<html>
<head>
    <title>Criteria</title>
    <style>
        .slide_container,
        .app_choice_container {
            width: 30%;
        }
        .slider {
            width: 100%;
        }
    </style>
</head>
<body>
<form action="/search" method="get">
    <h1>Criteria for RB</h1>

    <div class="slide_container">
        <input type="range" min="0" max="1000" value="500" class="slider" id="myRange" name="price">
        <p>Price: <span id="price"></span></p>
    </div>

    <div class="app_choice_container">
        <p>App:
            <br><input type="checkbox" value="iOS" name="app">iOS
            <br><input type="checkbox" value="Android" name="app">Android
        </p>
    </div>


    <input type="submit" value="Submit">
</form>

<script>
    let slider = document.getElementById("myRange");
    let output = document.getElementById("price");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>

</body>
</html>



