<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>bank pattern</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/css/style4.css" rel="stylesheet" type="text/css" media="all" />
   <script src="../static/js/jquery.min.js"></script>


</head>
<body>

<div th:object="${bank}" class="single" style="font-family:'Microsoft JhengHei',serif">
    <div class="container">
        <div class="col-md-9">
            <div class="col-md-7 single-top-in">

                    <h3 th:text="${bank.getName()}"></h3>
                    <div class="tab-head">
                            <ul>Advantages
                                <li><p th:text="${bank.getAdvantages()}"></p></li>
                            </ul>
                            <ul>Disadvantages
                                <li><p th:text="${bank.getDisadvantages()}"></p></li>
                            </ul>
                    </div>

                <div style="margin-top: 20px">
                    <div>
                        <ul><h2 style="font-size: 20px">Transfers</h2>
                            <li> <p th:text="'Transfer types: ' + ${bank.getTransferTypes()}"></p></li>
                            <li> <p th:text="'Auto transfer: ' + ${bank.getTransferAuto()}"></p></li>
                            <li> <p th:text="'Transfer currency: ' + ${bank.getTransferCurrency()}"></p></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h2 style="font-size: 20px">Payments</h2>
                            <li><p th:text="'Payment methods: ' + ${bank.getPaymentMethod()}"></p></li>
                            <li><p th:text="'Aims/Services: ' + ${bank.getPaymentAimsServices()}"></p></li>
                            <li><p th:text="'Auto transfers: ' + ${bank.getPaymentAuto()}"></p></li>
                        </ul>
                    </div>
                    <div>
                        <ul><h2 style="font-size: 20px">Cards</h2>
                            <li><p th:text="'Free service: ' + ${bank.getCardFreeService()}"></p></li>
                            <li><p th:text="'Types of cards: ' + ${bank.getCardTypes()}"></p></li>
                            <li><p th:text="'Card categories: ' + ${bank.getCardCategories()}"></p></li>
                            <li><p th:text="'Card annual service price: ' + ${bank.getCardAnnualServicePrice()}"></p></li>
                            <li><p th:text="'Card cashabck: ' + ${bank.getCardCashback()}"></p></li>
                            <li><p th:text="'Card design to choose: ' + ${bank.getCardDesignToChoose()}"></p></li>
                            <li><p th:text="'Card validity: ' + ${bank.getCardValidity()}"></p></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h2 style="font-size: 20px">Credits</h2>
                            <li><p th:text="'Credit aim: ' + ${bank.getCreditAim()}"></p></li>
                            <li><p th:text="'Credit interest rate: ' + ${bank.getCreditInterestRate()}"></p></li>
                            <li><p th:text="'Credit term: ' + ${bank.getCreditTerm()}"></p></li>
                            <li><p th:text="'Credit early repayment: ' + ${bank.getCreditEarlyPayment()}"></p></li>
                            <li><p th:text="'Credit amount: ' + ${bank.getCreditAmount()}"></p></li>
                        </ul>
                    </div>
                    <div >
                        <ul>
                            <h2 style="font-size: 20px">Deposits</h2>
                            <li><p th:text="'Deposit rate: ' + ${bank.getDepositRate()}"></p></li>
                            <li><p th:text="'Deposit aims: ' + ${bank.getDepositAim()}"></p></li>
                            <li><p th:text="'Deposit currencies: ' + ${bank.getDepositCurrency()}"></p></li>
                            <li><p th:text="'Deposit additional conditions: ' + ${bank.getDepositAdditionalConditions()}"></p></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h2 style="font-size: 20px">Insurance</h2>
                            <li><p th:text="'Insurance aims: ' + ${bank.getInsuranceAim()}"></p></li>
                            <li><p th:text="'Insurance amount: ' + ${bank.getInsuranceAmount()}"></p></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h2 style="font-size: 20px">24/7 support</h2>
                            <li><p th:text="'Consultation: ' + ${bank.getConsultation()}"></p></li>
                        </ul>
                    </div>
                    <div >
                        <ul>
                            <h2 style="font-size: 20px">Unique services</h2>
                            <li><p th:text="'Unique services: ' + ${bank.getUniqueServices()}"></p></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h2 style="font-size: 20px">Security</h2>
                            <li><p th:text="'Security: ' + ${bank.getSecurity()}"></p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>