<!DOCTYPE html>
<html>
<head>
    <title>bank pattern</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/css/style4.css" rel="stylesheet" type="text/css" media="all" />
    <script src="../static/js/jquery.min.js"></script>


</head>
<body>

<div class="single">

    <div class="container">
        <div class="col-md-9">
            <div class="col-md-5 grid">

                <img src="../static/images/VyFIANEr_400x400.jpg" height="250" width="250">

            </div>

            <div class="col-md-7 single-top-in">
                <div class="span_2_of_a1 simpleCart_shelfItem">
                    <h3>Name of the Bank</h3>
                    <p class="in-para">About Bank
                    </p>
                    <div class="col-md-12 tabulation">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#text1">text1</a></li>
                            <li><a data-toggle="tab" href="#text2">text2</a></li>
                            <li><a data-toggle="tab" href="#text3">text3</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="text1" class="tab-pane fade in active">
                                <p>tetxrdgdff</p>
                                <p>asdfdssgfdsg</p>
                                <ul>
                                    <li>dsgaadf</li>
                                    <li>dsfdgsdf</li>
                                    <li>dfsfdgsfds</li>
                                    <li>dfsgdfgsgfd</li>
                                    <li>fdsgdfgsdfgd</li>
                                </ul>
                            </div>
                            <div id="text2" class="tab-pane fade">
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>

                            </div>
                            <div id="text3" class="tab-pane fade">
                                <div class="row">

                                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                    <ul>
                                        <li>The Big Oxmox advised her not to do so</li>
                                        <li>Because there were thousands of bad Commas</li>
                                        <li>Wild Question Marks and devious Semikoli</li>
                                        <li>She packed her seven versalia</li>
                                        <li>tial into the belt and made herself on the way.</li>
                                    </ul>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-head">
                <nav class="nav-sidebar">
                    <ul class="nav tabs">
                        <li class="active"><a href="#tab12" data-toggle="tab">Преимущества</a></li>
                        <li class=""><a href="#tab22" data-toggle="tab">Недостатки</a></li>
                    </ul>
                </nav>
                <div class="tab-content one">
                    <div class="tab-pane active text-style" id="tab12">
                        <div class="facts">
                            <p > текст к 1</p>
                            <ul>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>аврриа</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ываыв</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ываыыва</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выаыыва</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выаыва</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выфаыва</li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-pane text-style" id="tab22">

                        <div class="facts">
                            <p > иывиывра</p>
                            <ul >
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>ыввыа</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>выфа</li>
                                <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>вфыаыф </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

    <footer id="footer">


    </footer>




    <script src="../static/js/bootstrap.min.js"></script>

</div>
</body>
</html>