<!DOCTYPE html>
<html lang="en">
<head>
    <title>Брокер Дбо - 19БИ-3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<form action="../static/js/response.js" method="get" >
    <div class="site" id="page" style="background-color: white" >
        <a class="skip-link sr-only" href=""></a>


        <div class="hero-section__wrap">
            <div class="hero-section__option" style="background-color: white">
            </div>

            <div class="container">
                <div class="row" style="margin-top: -10%">
                    <div class="offset-lg-2 col-lg-8" style="margin-top:10%">
                        <img src="../static/images/IMG_2679.png" height="250" width="250" style="margin-left: 33%">
                        <div class="title-01 title-01--11 text-center">
                            <h2 class="title__heading" >
                                <span>FINDBANK</span>
                            </h2>
                            <div class="title__description">19BI-3</div>

                            <div class="right-sidebar">
                                <h2>Category:</h2>

                                <div id="radios">
                                    <input type="radio"
                                           name="category" value="individual">
                                    <label>Individual</label><Br>

                                    <input type="radio"
                                           name="category" value="legal_entity" style="margin-left: 24px;">
                                    <label >Legal entities</label><Br>

                                    <input type="radio"
                                           name="category" value="corporation">
                                    <label style="margin-right: -15px;">Corporation</label><Br>
                                </div>


                            </div>
                            <div class="title__action">
                                <script>
                                    function go() {
                                        var radios=document.getElementById("radios").getElementsByTagName("INPUT"),
                                            radio
                                        for (var i=0, L=radios.length; i<L; i++) {
                                            radio=radios[i]
                                            if (radio.checked) {location.href=radio.value; break}
                                        }
                                    }
                                </script>
                                <a style="margin-top: 25px;"><input type="button" value="Выбрать" onclick="go()" style="margin-top: 20px; background-color: #5cb85c;"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </div>

    <div class="button-group"style="background-color: white" >

    </div>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</form>
</body>
</html>
